.App {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vh;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  color: white;
}

.App-main {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  color: white;

}
.App-devices {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 50vh;
}
.App-list {
  display: flex;
  flex-direction: column;
  min-width: 50vh;
}

.App-device-view{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.icon{
  width: 3em;
  cursor: pointer;
  margin-left: 3px;
  margin-right: 3px;
}
.space {
  margin: 5px;
}
table{
  width: 100%;
}
th{
  cursor: pointer;
}

td,th{
  padding: 5px;
  text-align: center;
}

td{
  text-align: -internal-center;
}

thead, tbody{
  display: block;
}

tbody{
  overflow-x: hidden;
  overflow-y: auto;
  height: 300px;
}
